@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

h1 {
    font-weight: 700;
}

a {
    color: #0070f3;
}

* {
    word-wrap: break-word;
}
